<<<<<<< HEAD
* {
=======
*{
>>>>>>> 216fdc6f71007b101b4e7b6c7e90e0abb60cedbf
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
<<<<<<< HEAD

=======
>>>>>>> 216fdc6f71007b101b4e7b6c7e90e0abb60cedbf
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD

}

/* ::-webkit-scrollbar {
  display: none;
} */
a {
  text-decoration: none;
=======
  
>>>>>>> 216fdc6f71007b101b4e7b6c7e90e0abb60cedbf
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
<<<<<<< HEAD
}
=======
}
>>>>>>> 216fdc6f71007b101b4e7b6c7e90e0abb60cedbf
